<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.sw.dao.ProductDAO">

	<!-- 게시판 리스트 -->
	<select id="ProductList" resultType="com.kh.sw.vo.ProductVO">
		select pr_pid, pr_ca_pid, pr_name, pr_content, pr_address1, pr_address2, pr_address3 from product
  	</select>
  	
	<!-- 상품 생성(추가) -->
	 <insert id="ProductInsert">
	 	insert into product (pr_pid, pr_ca_pid, pr_name, pr_content, pr_address1, pr_address2, pr_address3)
	 	 values(#{pr_pid}, #{pr_ca_pid}, #{pr_name}, #{pr_content}, #{pr_address1}, #{pr_address2}, #{pr_address3})
	 </insert>

	<!-- 상품 상세 페이지 -->
	<select id="ProductSelect" resultType="com.kh.sw.vo.ProductVO">
		select pr_pid, pr_ca_pid, pr_name, pr_content, pr_address1, pr_address2, pr_address3 from product
			where pr_pid = #{pr_pid}
	</select>
	
	
  
	<!-- 상품 수정 -->
	<update id="ProductUpdate">
		 update product
		 		set
		 			pr_ca_pid = #{pr_ca_pid},
		 			pr_name = #{pr_name},
		 			pr_content = #{pr_content},
		 			pr_address = #{pr_address1},
		 			pr_address = #{pr_address2},
		 			pr_address = #{pr_address3}
		 		where
		 			pr_pid = #{pr_pid}
	</update>
	
	<!-- 상품 삭제 -->
  	<delete id="ProductDelete">
  		delete from product
  			where pr_pid = #{pr_pid}
  	</delete>
  	
	<!-- 카테고리 리스트 -->
	<select id="CategoryList" resultType="com.kh.sw.vo.ProductVO">
		select ca_pid from category
  	</select>
  	
</mapper>
