<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.sw.dao.MemberDAO">
	
	<!-- 회원 전체 정보 불러오는 쿼리문 -->
  <select id="selectList" resultType="com.kh.sw.vo.MemberVO">
    select me_id, me_pw, me_email, me_birth, me_auth, me_name, me_phone, me_address1, me_address2, me_address3 from member
  </select>
  	<!-- 회원가입 쿼리문 -->
  <insert id="insertMember">
  	insert into member(me_id, me_pw, me_email, me_birth, me_name, me_phone, me_address1, me_address2, me_address3)
  	 values(#{me_id}, #{me_pw}, #{me_email}, #{me_birth}, #{me_name}, #{me_phone}, #{me_address1}, #{me_address2}, #{me_address3}) 
  </insert>
  	<!-- 로그인 쿼리문 -->
  <select id="login" resultType="com.kh.sw.vo.MemberVO">
  	select me_id, me_pw from member
  	 where me_id = #{me_id} and me_pw = #{me_pw}
  </select>
  
  <!-- 로그인 세션 -->
  <select id="selectMemberById" resultType="com.kh.sw.vo.MemberVO">
  	select * from member where me_id = #{me_id}
  </select>
  
  <!-- 회원정보 수정 -->
  <update id="MemberUpdate">
  		update member
  				set
  					me_pw = #{me_pw},
  					me_email = #{me_email},
  					me_birth = #{me_birth},
  					me_auth = #{me_auth},
  					me_name = #{me_name},
  					me_phone = #{me_phone},
  					me_address1 = #{me_address1},
  					me_address2 = #{me_address2},
  					me_address3 = #{me_address3}
  				where
  					me_id = #{me_id}
  </update>
  
  	<!-- 회원 상세 페이지 -->
	<select id="MemberSelect" resultType="com.kh.sw.vo.MemberVO">
		select me_id, me_pw, me_email, me_birth, me_auth, me_name, me_phone, me_address1, me_address2, me_address3 from member
			where me_id = #{me_id}
	</select>
	
	<!-- 회원 삭제 -->
  	<delete id="MemberDelete">
  		delete from member
  			where me_id = #{me_id}
  	</delete>
	
	<!-- 아이디 중복체크 -->
	<select id="idCheck" resultType="int" parameterType="String">
		select COUNT(*) from member where me_id = #{me_id}
	</select>
	
</mapper>
