<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.sw.dao.BoardDAO">
	
	<!-- 게시판 리스트 -->
	<select id="BoardList" resultType="com.kh.sw.vo.BoardVO" parameterType="string">
		select bo_pid, bo_writer, bo_created, bo_content, bo_title, bo_modified, fi_pid, bo_ca_pid from board
		where bo_ca_pid = #{ca_pid}
  	</select>
  
  	<!-- 게시판 글쓰기 -->
	 <insert id="BoardInsert" useGeneratedKeys="true" keyProperty="bo_pid">
	 	insert into board (bo_pid, bo_content, bo_title, bo_writer, bo_modified, bo_ca_pid)
	 	 values(#{bo_pid}, #{bo_content}, #{bo_title}, #{bo_writer}, #{bo_modified}, #{bo_ca_pid})
	 </insert>
  
  	<!-- 게시판 상세 페이지 -->
	<select id="BoardSelect" resultType="com.kh.sw.vo.BoardVO">
		select bo_pid, bo_writer, bo_created, bo_content, bo_title, bo_modified, bo_ca_pid from board
			where bo_pid =#{bo_pid}
	</select>
  
	<!-- 게시판 수정 -->
	<update id="BoardUpdate">
		 update board
		 		set
		 			bo_content = #{bo_content},
		 			bo_title = #{bo_title},
		 			bo_modified = now()
		 		where
		 			bo_pid = #{bo_pid}
	</update>

	<!-- 게시판 삭제 -->
  	<delete id="BoardDelete">
  		delete from board
  			where bo_pid = #{bo_pid}
  	</delete>
<!-- =========================================================================================== -->
  	 <!-- 파일 업로드(추가) -->
	 <insert id="insertFile">
	 	insert into file (fi_pid, bo_pid ,fi_ori_name, fi_name, fi_size, fi_crea_id)
	 	 values(#{fi_pid}, #{bo_pid}, #{fi_ori_name}, #{fi_name}, #{fi_size}, #{fi_crea_id})
	 </insert>
<!-- =========================================================================================== -->	 
	 <!-- 게시판 카테고리 리스트 -->
	<select id="BoCateList" resultType="com.kh.sw.vo.BoardVO" parameterType="string">
		select ca_pid, ca_name from category
		where ca_pid = #{ca_pid}
  	</select>
</mapper>

